.topNavContainer {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: row
}
.arrow {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.arrowLeft {
  border-right: 16px solid lightgray;
}
.arrowRight {
  border-left: 16px solid lightgray;
}
.moveNotificationTopRight {
  position: relative;
  bottom:5px;
  left: 10px;

}
