.add-user-modal {
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    min-height: 100vh;
    left: 0;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    width: 100%;

    .add-user-modal-content {
        background-color: #fff;
        margin: auto;
        width: 80%;
    }
}
