.shiftWeekIndividualDayLink {
  color: black;
}
.shiftWeekIndividualDayLink:hover {
    color: blue;
    font-weight: normal;
}
.dayRowFill {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}
.shiftRowFill {
    background-color: rgb(41, 245, 0);
    height: 100%;
    width: 100%;
}
.dayDataContainer {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 100px;
}
.currentDay {
    border: 3px solid red;
    background-color: rgba(211, 211, 211, 0.3);
}
.dayLabelContainer {
    height: 75%;
    width: 14%;
    display: inline-block;
    position: absolute;
    text-align: center;
}
.mainContainerWeek {
    min-width: 1000px;
}
.weekScheduleHour {
    font-size: .8rem;
}
.hoursWeekEmpty {
    width: 75px;
}
.dayInfoContainer {
    width: 80px;
}
.weekdayShift {
    background-color: lightgray;
}
.scheduled {
    background-color: rgb(2, 2, 66);
}
.posted {
    background-color: rgb(238, 204, 13);
}
.shiftRowContainer {
    background: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 5.5%,
        lightgray 5.58%,
        lightgray 5.58%);
}
