.details {
    display: flex;
}
.subHeader {
    height: 15vh;
}
.busRouteIconContainer {
    display: inline-block;
}
.mainContainer {
    height: 75vh;
    padding-right: 2vmin;
    padding-bottom: 5vmin;
}
.roundsListGrid {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 0;
    margin-left: 2%;
    border: 2px solid black;
}
.scrollableContainer {
    flex-grow: 1;
    overflow: auto;
    min-height: 100%;
}
.fullWidthGridColumn {
    padding: 0;
}
.checkboxElements {
    padding-left: 30px;
}
.buttonContainer {
    padding: 0 2%;
}
.inactive {
  background-color: grey;
  opacity: 0.8;
  height: 100%;
}
.boxComment {
  float: left;
  margin-top: 5%;
  margin-right: 2%;
}
.box {
  width: 58%;
  margin-left: 28%;
}
