.legend-container{
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
  flex-wrap: wrap
}
.legendRow {
  display: flex;
  text-align: center;
  justify-items: center;
  width: 100%
}

.circle{
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  
  border-radius: 50%;
  margin: auto
}

.blue {
  background-color: lightskyblue;
}
.yellow {
  background-color: goldenrod;
}

.blueSquare {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border: 5px solid lightskyblue;
  margin: auto
}