.legend-container{
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
  flex-wrap: wrap
}

.row {
  flex-wrap: nowrap;
}
.legendRow {
  flex-direction: row;
  display: flex;
  text-align: center;
  justify-items: center;
  width: 100%
}

.circle{
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  
  border-radius: 50%;
  margin: auto
}

.blue {
  background-color: lightskyblue;
}
.yellow {
  background-color: gold;
}

.blueSquare {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border: 5px solid gold;
  margin: auto
}