.mainCalendarContainer {
  height: 100vh;
}
.calendarContainer {
  height: 80%;
}
.monthTable {
  width: 50%;
}
.totalHoursColumn{
  flex-direction: column;
  background-color: white;
  padding-top: 0.5rem
}
.weekTotal {
  width: fit-content;
}
.monthDay {
  height: 30px;
  width: 30px;
}
.weekHours {
  height: 30px;
}
.calendarDay {
  font-size: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14vh;
  width: 14vh;
  border-radius: 50%
}
