.calendarContainer{
    display: flex;
    justify-content: center; 
    padding: 1rem;
    box-sizing: border-box
}

.calendarBox{
  display: flex;
  justify-content: center; 
}
.wrapper {
    border: 1.5em solid rgba(white, .2);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(7,0fr);
    grid-gap: 1.5px;
    justify-content: center;
    padding: 0.5rem
}

.wrapper > div {
    display: flex;
    height: 14vh;
    width: 16vh;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    background-color: white;  
    justify-content: center;
    align-items: center;
    color: black;
}

.Title{
  border: 1.5em solid rgba(white, .2);
  display: grid;
  grid-template-columns: repeat(7,0fr);
  grid-gap: 1.5px;
  justify-content: center;
}
.Title > div {
    display: flex;
    height: 6vh;
    width: 16vh;
    border-radius: 5px;
    background-color: lightgrey;  
    justify-content: center;
    align-items: center;
    color: black;
}

.totalHoursColumn{
  flex-direction: column;
  background-color: white;
  padding-top: 0.5rem
}

.weekTotalWrapper{
  display: flex;
  flex-direction: column
}

.weekTotal {
    font-size: 2vh;
    display: flex;
    height: 6vh;
    width: 18vh;
    border-radius: 5px;
    background-color: lightgrey;  
    justify-content: center;
    align-items: center;
    color: black;
}

.totalHoursForWeek{
  border-radius: 5px;
  height: 14vh;
  width: 18vh;
  border: 0.5px solid lightgrey;
  margin-bottom: 1.5px;
  font-size: 3vh;
  display: inline-block;
  line-height: 14vh;
  text-align: center;

}
.totalHoursForWeek p {
  font-size: 1rem;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.posted-shift-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: gold;
  border-radius: 50%;
}

.scheduled-shift-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: lightskyblue;
  border-radius: 50%;
}

.both-shift-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: lightskyblue;
  border: 4px solid gold;
  border-radius: 50%;
}

.todayMark {
  height: 100%;
  width: 50%;
  background-color: rgba(red, .2);
  color: red
}



