.modalShadow {
  background-color: rgba(255, 255, 255, 0.4);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
}

.lineHeader {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}

.lineID {
  font-style: italic;
}

.lineCardHeader {
  border: 1px solid black;
}

.lineCardHeader > div:first-child {
  font-weight: 700;
}

.lineName {
  font-size: 1rem;
}

.lineHeaderFirstRow {
  border-bottom: 1px solid #FFA804;
}

.operationsContainer {
  background-color: rgb(150, 149, 149);
  border: 1px solid black;
  border-radius: 10px;
  height: 400px;
  /* max-width: 1140px; */
  max-width: 95%;
  margin-bottom: 26px;
  overflow: scroll;
}

.operationsHeader {
  color: rgba(255, 255, 255, .9);
  border-bottom: 1px solid #FFA804;
}

.operationsHistory {
  color: rgba(255, 255, 255, .9);
  border-bottom: 1px solid #FFA804;
}

.operationsHistoryDeleteIcon {
  font-size: 12.5px;
  margin-right: 4px;
  color: red;
  height: 1.25em;
}

.operationsHistoryAddIcon {
  font-size: 13px;
  margin-right: 4px;
  color: green;
  height: 1.25em;
}

.selectSessionLabel {
  color: rgba(255, 255, 255, .9);
}

.sessionStartDateFormat {
  font-size: 10px;
}

.newSessionBtn {
  height: 23px;
  line-height: 0;
}

table.busTable thead tr th {
  border-bottom: 1px solid #FFA804;
}

table.busTable tbody {
  border-top: 2px solid #FFA804;
}

table.liveFieldStatusTable tbody {
  border-top: 1px solid #FFA804;
}

table.liveFieldStatusTable thead tr th {
  border-bottom: 1px solid #FFA804;
}

table.liveFieldStatusTable td {
  vertical-align: middle;
}

/* table.liveFieldStatusTable tbody tr {
  border-top: 2px solid #FFA804;
} */

.busTableEditBtnTd {
  border-top: none!important;
}

.addLineBtn,
.newSessionBtn {
  color: #FFA804;
  background-color: rgb(23, 2, 61);
  border: 1px solid #FFA804;
  height: 23px;
  line-height: 0.6;
}

.addLineCard {
  width: 98%;
  border: 1px solid #FFA804;
}

.liveFieldStatusBtn,
.masterFieldStatusBtn {
  color: #FFA804;
  background-color: rgb(23, 2, 61);
  border: 1px solid #FFA804;
  height: 23px;
  line-height: 0.6;
}

.liveFieldStatusHeader {
  background-color: rgb(150, 149, 149);
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid #FFA804;
}

.liveFieldStatusTable {
  width: 100%;
}

.liveFieldStatusParentContainer {
  max-width: 100%;
}

.liveFieldStatusTableContainer {
  height: 350px;
  overflow: scroll;
  border: 1px solid black;
  border-radius: .25rem;
  max-width: 65vw;
}

.liveFieldStatusSessionName {
  font-size: 36px;
  margin-top: 50px;
  color: rgb(121, 132, 235);
  font-weight: 700;
}

.liveFieldStatusLineName {
  font-weight: 600;
}

.liveFieldStatusStartDate,
.liveFieldStatusEndDate {
  font-weight: 500;
}

.liveFieldStatusStartDateSpan {
  margin-right: 18px;
}

.minHoursReqLabel {
  font-weight: 600;
}

.liveFieldStatusTitle {
  border-bottom: 1px solid #FFA804;
  margin-top: 25px;
  font-weight: 800;
}

.liveFieldStatusContentContainer {
  max-width: 80%;
}

.lineNameInput,
.roundDurationInput,
.editLineNameInput,
.editRoundDurationInput,
.addBusInputs,
.editBusInputs {
  border-radius: .25rem;
  height: 23px;
}

.sessionNameInput,
.sessionStartDateInput,
.sessionEndDateInput,
.sessionNotesInput,
.sessionOperatorInfoInput {
  border-radius: .25rem;
  height: 23px;
}

.minHoursRequiredCol {
  border-top: 1px solid #FFA804;
  margin-top: 10px;
}

.minHoursReqLabel {
  margin-top: 10px;
}

.addSessionLineCard {
  border: 1px solid #FFA804;
  width: 98%;
}

.sessionNameExists {
  color: red;
}

.sessionNameAvailable {
  color: green;
}

.sessionNameExists,
.sessionNameAvailable {
  font-size: 10px;
}

.sessionNameSpan {
  margin: 0;
}

.mascot {
  background-image: "/Users/kevinihm/lfz/519_anteater_express/server/public/assets/images/mascot/anteater.png"
}

.addNewBusCard {
  border: 1px solid black;
}

.onlineIcon {
  color: green;
}

.busActiveIcon,
.lineActiveIcon {
  color: green;
}

.lineActiveIcon {
  border-radius: 50%;
  font-size: 11px;
  /* border: 1px solid black; */
  box-shadow: 0 0 5px 2px #aef4af;
}

.busActiveIcon {
  border-radius: 30%;
  box-shadow: 0 0 5px 1px #aef4af;
}

.lineInactiveIcon {
  font-size: 11px;
}

.busInactiveIcon,
.lineInactiveIcon {
  color: red;
}

.editOpeningDuration,
.editClosingDuration,
.editGapDuration {
  font-weight: 700;
}

.liveFieldStatus {
  border: 1px solid black;
}

/* tbody.busTable:nth-child(2) {
  border-top: 1px solid #FFA804!important;
} */

.gapsModal {
  position: fixed;
  width: 75%;
  height: 300px;
  z-index: 1;
  left: 17%;
  bottom: 30%;
  border: 2px solid black;
  background-color: rgba(150, 149, 149, 0.9);
  border-radius: 5px;
  overflow: scroll;
}

.gapModalTableHeader {
  background-color: rgba(150, 149, 149, 0.9);
  color: rgba(255, 255, 255, .9);
  border-bottom: 1px solid #FFA804;
}

.closeGapModal {
  height: 40px;
}

.deleteConfirmationModal {
  position: fixed;
  width: 65%;
  z-index: 1;
  left: 18%;
  bottom: 25%;
  background-color: rgb(150, 149, 149);
  border: 1px solid black;
  border-radius: 10px;
  height: 200px;
  /* max-width: 1140px; */
  max-width: 95%;
  margin-bottom: 120px;
  overflow: scroll;
}


.deleteConfirmationModalHeader {
  color: rgba(255, 255, 255, .9);
  border-bottom: 1px solid #FFA804;
}

.editLineBtn {
  width: 40px;
  margin-bottom: 2px;
}

.specialDriverCheckbox {
  margin-left: 40px;
  margin-top: 12px;
}

.specialDriverIcon {
  color: blue;
  font-size: 1rem;
}

.cancelEditLineBtn {
  width: 40px;
  margin-bottom: 2px;
}

.editLineSubmitBtn {
  width: 40px;
  margin-top: 2px;
}

.busTableEditIconBtn {
  width: 40px;
}

.busTableDeleteIconBtn {
  width: 40px;
}

.addNewLineNameExists {
  /* font-weight: 700; */
  color: red;
}

.addNewLineName {
  /* font-weight: 700; */
  color: green;
  font-size: 10px;
}

.editLineInputRow input {
  width: 100%;
}

.newLine .lineCardHeader {
  animation: glow 1s 2 alternate-reverse;
}

@keyframes glow {
  from {
    box-shadow: inset 0 0 10px -10px #aef4af;
  }
  to {
    box-shadow: inset 0 0 10px 2px green;
  }
}
