.lineHeader {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}

.lineID {
  font-style: italic;
}

.lineCardHeader {
  border: 1px solid black;
}

.lineCardHeader > div:first-child {
  font-weight: 700;
}

.lineName {
  font-size: 1rem;
}

.lineHeaderFirstRow {
  border-bottom: 1px dotted black;
}

.operationsContainer {
  background-color: rgb(150, 149, 149);
  border: 1px solid black;
  border-radius: 10px;
  height: 400px;
  /* max-width: 1140px; */
  max-width: 95%;
  margin-bottom: 26px;
  overflow: scroll;
}

.operationsHeader {
  color: rgba(255, 255, 255, .9);
  border-bottom: 1px solid #FFA804;
}

.operationsHistory {
  color: rgba(255, 255, 255, .9);
  border-bottom: 1px solid #FFA804;
}

.operationsHistoryDeleteIcon {
  font-size: 12.5px;
  margin-right: 4px;
  color: red;
  height: 1.25em;
}

.operationsHistoryAddIcon {
  font-size: 13px;
  margin-right: 4px;
  color: green;
  height: 1.25em;
}

.selectSessionLabel {
  color: rgba(255, 255, 255, .9);
}

.sessionStartDateFormat {
  font-size: 10px;
}

.newSessionBtn {
  height: 23px;
  line-height: 0;
}

.addLineBtn,
.liveFieldStatusBtn,
.masterFieldStatusBtn,
.newSessionBtn {
  color: #FFA804;
  background-color: rgb(23, 2, 61);
  border: 1px solid #FFA804;
  height: 23px;
  line-height: 0;
}

.lineNameInput,
.roundDurationInput,
.editLineNameInput,
.editRoundDurationInput,
.addBusInputs,
.editBusInputs {
  border-radius: .25rem;
  height: 23px;
}

.sessionNameInput,
.sessionStartDateInput,
.sessionEndDateInput,
.sessionNotesInput {
  border-radius: .25rem;
  height: 23px;
}

.sessionNameExists {
  color: red;
}

.sessionNameAvailable {
  color: green;
}

.sessionNameExists,
.sessionNameAvailable {
  font-size: 10px;
}

.sessionNameSpan {
  margin: 0;
}

/* .copyPaste-session-buttons {
  height: 50px;
} */

.addNewBusCard {
  border: 1px solid black;
}

.onlineIcon {
  color: green;
}

.busActiveIcon,
.lineActiveIcon {
  color: green;
}

.lineActiveIcon {
  border-radius: 50%;
  font-size: 11px;
  /* border: 1px solid black; */
  box-shadow: 0 0 5px 2px #aef4af;
}

.busActiveIcon {
  border-radius: 30%;
  box-shadow: 0 0 5px 1px #aef4af;
}

.lineInactiveIcon {
  font-size: 11px;
}

.busInactiveIcon,
.lineInactiveIcon {
  color: red;
}

.editOpeningDuration,
.editClosingDuration,
.editGapDuration {
  font-weight: 700;
}

.liveFieldStatus {
  border: 1px solid black;
}

.gapsModal {
  position: fixed;
  width: 75%;
  height: 300px;
  z-index: 1;
  left: 12%;
  bottom: 25%;
  border: 2px solid black;
  background-color: rgba(182, 182, 182, 0.8);
  border-radius: 5px;
}

.gapModalTableHeader {
  background-color: rgba(23, 2, 61, 0.8);
  color: #FFA804;
}

.closeGapModal {
  height: 40px;
}

.deleteConfirmationModal {
  position: fixed;
  width: 65%;
  z-index: 1;
  left: 18%;
  bottom: 25%;
  background-color: rgb(150, 149, 149);
  border: 1px solid black;
  border-radius: 10px;
  height: 200px;
  /* max-width: 1140px; */
  max-width: 95%;
  margin-bottom: 120px;
  overflow: scroll;
}


.deleteConfirmationModalHeader {
  color: rgba(255, 255, 255, .9);
  border-bottom: 1px solid #FFA804;
}

.editLineBtn {
  width: 40px;
  margin-bottom: 2px;
}

.specialDriverCheckbox {
  margin-left: 40px;
  margin-top: 12px;
}

.specialDriverIcon {
  color: blue;
  font-size: 1rem;
}

.cancelEditLineBtn {
  width: 40px;
  margin-bottom: 2px;
}

.editLineSubmitBtn {
  width: 40px;
  margin-top: 2px;
}

.busTableEditIconBtn {
  width: 40px;
}

.busTableDeleteIconBtn {
  width: 40px;
}

.addNewLineNameExists {
  font-weight: 700;
  color: red;
}

.addNewLineName {
  font-weight: 700;
  color: green;
}

.editLineInputRow input {
  width: 100%;
}

.newLine .lineCardHeader {
  animation: glow 1s 2 alternate-reverse;
}

@keyframes glow {
  from {
    box-shadow: inset 0 0 10px -10px #aef4af;
  }
  to {
    box-shadow: inset 0 0 10px 2px green;
  }
}
