body {
  margin: 0;
}
.container {
  height: 50vh;
  border: 1px solid black;
}
.cellRow {
  display: flex;
  height: 5vh;
}
.cell {
  border: 1px solid black;
  width: 100%;
}
.marked {
  background-color: green;
}
